* {
	margin: 0;
	border: 0;
	padding: 0;
}
body{
	overflow: hidden;
}

#container {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	touch-action: none;
}

#container canvas{
	background-size: contain;
}
